.stage {
	margin-top: 2.5em;

	&__count {
		margin-bottom: .25em;
		color: #B3A394;
		font-size: .85rem;
		text-transform: uppercase;
		letter-spacing: .35px
	}

	&__title {
		font-size: 1.5rem;
	}
}
