// Third Party
@import '~modern-normalize/modern-normalize';


$colors: (
	text: #f2f2f2,
	body: #1f1f1f,
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

body {
	background-color: color(body);
	color: color(text);
}
